.Navbar{
    display: flex;
    list-style-type: none;
    justify-content: center;
    background-color: #3E8E7E;
    color: white;
    padding: .3rem;
    font-size: 1.2rem;
}
.Navbar > *{
    margin: auto .5rem;
}