.Navbar{
    height: 3.4rem;
    background-color: #3bd433;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

.Navbar li{
    font-size: 18px;
}