.wholeToAppointContainer {
    width: 90%;
    margin: auto auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 80vh;
    justify-items: center;
    align-items: center;
    position: relative;
}

.imageHolder{
    margin: 1rem auto;
    width: 90%;
    height: 60rem;
    grid-column: 1/3;
}

.imageHolder > img{
    width: 100%;
    height: 57%;
    object-fit: cover;
    filter: drop-shadow(1px 2px 7px black);
    transition: transform .4s ease;
}
.imageHolder > img:hover{
    transform: scale(1.04);
}

.details{
    position: absolute;
    bottom: 20%;
    left: 50%;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
}
.details > h2{
    font-family: 'Roboto Mono', monospace;
    font-size: 3rem;
}
.details > p{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5rem;
}
.details > button{
    width: fit-content;
    padding: .5rem;
    font-size: 1.2rem;
    border: 0px;
    background-color: #24455e;
    color: white;
    cursor: pointer;
    transition: transform .3s ease;
}
.details > button:hover {
    transform: scale(1.05);
}