.holder{
    display: flex;
    width: 90%;
    margin: .2rem auto;
    justify-content: space-between;
    height: 4rem;
    align-items: center;
    background-color: #B1D0E0;
    padding: .5rem;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #406882;
}
.head{
    background-color: #406882;
    height: 3rem;
    border-radius: 0px;
}
.holder > div{
    font-size: 1.1rem;
    font-weight: 600;
}
.holder > button{
    font-size: 1.1rem;
    min-width: 5rem;
    /* width: fit-content; */
    height: 2rem;
    cursor: pointer;
    border: 0px;
    background-color: #1A374D;
    color: white;
    filter: drop-shadow(1px 1px 3px #214561);
    transition: transform .2s ease-in-out;
}
.holder > button:hover{
    transform: scale(1.05);
}

@media screen and (max-width: 600px) {
    
  }